img {
    width: 100px;
    height: 100px;
}
div h2 {
    color: green;
    font-weight: bold;
}
td:nth-child(odd) {
    background-color: #2b2d42;
    color: white;
    font-size: 20px;
}
p::first-letter {
    
    color: red;
}
input[type="text"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
}