body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container, .validacion-container {
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(214, 214, 214);
    width: 400px;
    height:400px;
    
    border-radius: 8px;
    text-align: center;
}

#div1, #input-container {
    margin-bottom: 15px;
}
#div1{
    margin-left: -100px;
}

#div1 label, #labelDNI {
    font-weight: bold;
}

input[type="text"], input[type="date"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#tablaNumeros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}   
.huecos-container {
    display: flex;
    justify-content: center; /* Centrar los huecos */
    margin-bottom: 20px; /* Espacio debajo de los huecos */
}

.hueco {
    border: 1px solid #000; /* Borde para los huecos */
    width: 30px; /* Ancho del hueco */
    height: 30px; /* Alto del hueco */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Espacio entre huecos */
}

.botones-container {
    display: flex; /* Usar flex para el contenedor de botones */
    flex-direction: column; /* Apilar filas verticalmente */
    align-items: center; /* Centrar las filas */
    margin-top: 20px; /* Espacio encima de los botones */
}

.botones-container .fila-botones {
    display: flex; /* Usar flex para cada fila de botones */
    justify-content: center; /* Centrar los botones en la fila */
    margin-bottom: 10px; /* Espaciado entre filas */
    
}

.botones-container button {
    margin: 5px; /* Espaciado entre botones */
    padding: 10px 15px; /* Aumenta el tamaño de los botones */
    
}
    
#btnValidar{
    margin-top: 20px;
    background-color: #FF6200;
    color: white;
    border:none;
    width: 342px;
    height: 48px;
    border-radius: 6px;
}
#btnValidar:hover{
    background-color: white;
    color:gray;
    border: 1px #FF6200 solid;
}
.correcto{
    color:green;

}
.incorrecto{
    color:red;
}